---
title: Snyk Service Broker (Beta)
owner: Partners
---

<p class="note warning"><strong>WARNING:</strong> The Snyk Service Broker for PCF tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.</p>

This documentation describes the Snyk Service Broker for Pivotal Cloud Foundry (PCF). The Snyk Service
Broker for PCF enables developers to scan their droplets for known vulnerabilities in open source components.
In addition, the Snyk Service Broker for PCF allows you to continuously monitor droplets for new vulnerabilities as well as preventing the deployment of vulnerable droplets.

## <a id='overview'></a>Overview

The Snyk Service Broker for PCF registers a service broker with PCF and exposes its service plans on the
Marketplace. Developers can then create service plan instances using Apps Manager or the Cloud Foundry Command
Line Interface (cf CLI) and bind them to their apps.

Creating a Snyk Service Broker for PCF service instance and binding it to an app will trigger Snyk to run scans on your app dependencies as part of the buildpack. Using environment variables, you can decide whether to continuously monitor your app, reject a vulnerable droplet, or patch the vulnerabilities inside your app.

## <a id='features'></a>Key Features

Snyk Service Broker for PCF includes the following key features:

* Scan your app dependencies for known vulnerabilities
* Continuously monitor your app dependencies for new vulnerabilities
* Reject a vulnerable droplet from being deployed
* Patch you app dependencies during buildpack phase

## <a id="snapshot"></a>Product Snapshot

<p class='note'><strong>Note:</strong> As of PCF v2.0, Elastic Runtime is renamed Pivotal Application Service (PAS).</p>

The following table provides version and version-support information about Snyk Service Broker for PCF.

<table class="nice">
        <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v0.0.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>March 13, 2018</td>
    </tr>
    <tr>
        <td>Software component versions</td>
        <td>Snyk service broker v0.1.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.11.x, v1.12.x, v2.0.x, and v2.1</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v1.11.x, v1.12.x, v2.0.x, and v2.1</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>No</td>
    </tr>
</table>
## <a id="reqs"></a>Requirements

Snyk Service Broker has the following requirements:

+ A free or paid Snyk account. Sign up at [Snyk.io](https://snyk.io).

## <a id="limitations"></a>Limitations

None

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) list or send an email to [Snyk Support](mailto:pivotalsupport@snyk.io).

## <a id='license'></a>License

The Snyk Service Broker for PCF is licensed under the [Apache 2 license](https://www.apache.org/licenses/LICENSE-2.0).
