---
title: Release Notes for Snyk Service Broker
owner: Partners
---
These are release notes for Snyk Service Broker.

##<a id="ver"></a> v0.0.2

**Release Date:** March 1, 2018

Features included in this release:

* Scan your app dependencies for known vulnerabilities
* Continuously monitor your app dependencies for new vulnerabilities
* Reject a vulnerable buildpack from being deployed
* Patch you app dependencies during buildpack phase

Fixed issues in this release:

* None

Known issues in this release:

* None
