---
title: Release Notes for Snyk Service Broker
owner: Partners
---
These are release notes for Snyk Service Broker for PCF.

##<a id="ver"></a> v1.0.3

**Release Date:** June 20, 2019

Features included in this release:

* Security update to upgrade internal cf-client component

##<a id="ver"></a> v1.0.2

**Release Date:** March 26, 2019

Features included in this release:

* Upgrades the stemcell to Ubuntu Xenial

##<a id="ver"></a> v1.0.1

**Release Date:** October 22, 2018

Features included in this release:

* Initial GA release

##<a id="ver"></a> v0.0.2

**Release Date:** March 13, 2018

Features included in this release:

* Scan your app dependencies for known vulnerabilities
* Continuously monitor your app dependencies for new vulnerabilities
* Reject a vulnerable buildpack from being deployed
* Patch you app dependencies during buildpack phase
