---
title: Using Snyk Service Broker for PCF
owner: Partners
---

This topic describes how to use Snyk Service Broker for PCF after it has been successfully installed.
##<a id='using'></a> Using Snyk Service Broker for PCF

To use Snyk Service Broker for PCF with an application, create a service instance and bind the service instance
to your application. For more information on managing service instances, see <a href="http://docs.pivotal.io/pivotalcf/devguide/services/managing-services.html" target="_blank">Managing Service Instances with the cf CLI</a>.

After the Snyk tile is installed, you can see the `snyk-service-broker` and its service plans appear in your PCF marketplace. Run `cf marketplace` to see the service listing:
<pre class="terminal">
$ cf marketplace
Getting services from marketplace in org snyk / space snyk as admin...
OK
service              plans                                           description
snyk-service-broker  enterprise-plan    Snyk service broker for testing and monitoring security vulnerabilities and license issues in your app.
</pre>

For more information on available service plans, see the [Configure Service Plans](./installing.html#configure-service-instance) topic.
### Create a Service Instance

To provision a Snyk, run `cf create-service`. For example:

<pre class="terminal">
$ cf create-service snyk-service-broker enterprise-plan my-snyk-service
Getting services from marketplace in org snyk / space snyk as admin...
OK
name              service               plan              bound apps   last operation
my-snyk-service   snyk-service-broker   enterprise-plan                create succeeded
</pre>

Run the `cf services` command to view the creation status. This command displays a list of all your service instances. To view the status of a specific service instance, run `cf service NAME-OF-YOUR-SERVICE`.
### Bind an Application to a Service Instance

After your database is created, run `cf bind-service` to bind the service to your application:

<pre class="terminal">
$ cf bind-service my-app my-snyk-service
</pre>
### Restage or Restart Your Application

To enable your application to access the service instance, run `cf restage` or `cf restart` to restage or restart your application.
### Obtain Service Instance Access Credentials

After a service instance is bound to an application, Snyk credentials are stored in the environment variables of the application. Run `cf env APP-NAME` to display the environment variables.

You can find the credentials in the <a href="http://docs.pivotal.io/pivotalcf/devguide/deploy-apps/environment-variable.html#VCAP-SERVICES" target="_blank">VCAP_SERVICES</a> key.

<pre class="terminal">
$ cf env my-app
Getting env variables for app my-app in org snyk / space snyk as admin...
OK

System-Provided:
{
 "VCAP_SERVICES": {
  "snyk-service-broker": [
   {
     "credentials": {
      "apiToken": "b1b6e32a-8fcc-477d-8210-4da9340e9040",
      "apiUrl": "",
      "orgName": ""
     },
    "label": "snyk-service-broker",
    "name": "my-snyk-service",
    "plan": "enterprise-plan",
    "provider": null,
    "syslog_drain_url": null,
    "tags": [
     "snyk",
     "security",
     "licenses",
     "vulnerabilties"
    ]
   }
  ]
 }
}
...
</pre>

##<a id='scanning'></a> Scanning your dependencies

When Snyk service is bound to your application every time you run `cf push APP-NAME`,
Snyk will scan your open source dependecies and will break the deployment if Snyk finds vulnerabilties.

<pre class="terminal">
$ cf push my-app
Updating app my-app in org snyk / space snyk as admin...
...
✗ High severity vulnerability found on ejs@1.0.0
      - desc: Arbitrary Code Execution
      - info: https://snyk.io/vuln/npm:ejs:20161128
      - from: my-app@1.0.3 > ejs@1.0.0
Upgrade direct dependency ejs@1.0.0 to ejs@2.5.3
Run `snyk wizard` to explore remediation options.
✗ High severity vulnerability found on qs@2.4.2
        - desc: Prototype Override Protection Bypass
        - info: https://snyk.io/vuln/npm:qs:20170213
        - from: my-app@1.0.3 > express@4.12.4 > qs@2.4.2
        Upgrade direct dependency express@4.12.4 to express@4.15.2 (triggers upgrades to qs@6.4.0)
...
Tested 576 dependencies for known vulnerabilities, found 34 vulnerabilities, 111 vulnerable paths.
<font color=red>**ERROR**</font> Snyk found vulnerabilties. Failing build...
<font color=red>**ERROR**</font> After Compile: exit status 1
</pre>

### Optional Paramaters
In order to enable optional parameters to your application
you can add an environment variable to your project `manifest.yml` env section or by the CLI
set-env command (e.g `cf set-env APP-NAME SNYK_DONT_BREAK_BUILD true`)

1. SNYK_DONT_BREAK_BUILD: This will tell Snyk to continue with the application deployment even though Snyk found vulnerabilties.
1. SNYK_MONITOR_BUILD: This will take a snapshot of your current dependencies, so we can notify you about newly disclosed vulnerabilities in them, or when a previously unavailable patch or upgrade path is created.
1. SNYK_PROTECT_BUILD: This will apply the patches specified in your .snyk file to the local file system. (After running [Snyk wizard](https://snyk.io/docs/using-snyk#wizard))
### Projects on Snyk
If you enable SNYK_MONITOR_BUILD option this will create a project on your Snyk dashboard where you can view the results.

<img src="images/snyk_project.png"></img>
